@import url('http://fonts.cdnfonts.com/css/squad');

:root {
  --error-color: rgba(223, 95, 78, 0.966);
  --border-img: rgb(206, 200, 200);
  --first-color: #d0d5d881;
  --second-color: rgba(42, 44, 42, 0.507);
  --contrast-color: #0c8d13;
  --gradient: linear-gradient(139deg, #daaa52ef 0%, #fefffe 100%);
  --bgc-info: #f3f1f16e;
  --black-color: rgb(15, 14, 14);
  --white-color: rgb(237, 238, 237);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Squad', sans-serif;
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--gradient);
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}