@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;600&display=swap');

@import url('https://db.onlinewebfonts.com/c/19401d7f3cadf5d3b3a7124cb7028ff4?family=Cotoris');

:root {
  --error-color: rgba(223, 95, 78, 0.966);
  --border-img: rgb(206, 200, 200);
  --first-color: #d0d5d881;
  --second-color: rgba(186, 232, 250, 0.541);
  --contrast-color: #0c8d13;
  --gradient: linear-gradient(159deg, #0f4d4eef 0%, #2a5586 100%);
  --bgc-info: #f3f1f16e;
  --black-color: rgb(15, 14, 14);
  --white-color: rgb(237, 238, 237);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 15px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--gradient);
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

h1, h3, h4 {
  font-family: 'Cotoris',  'sans-serif';
}

h1 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2.1rem;
  font-style: italic;
  font-weight: 100;
}

p {
  font-size: 1.1rem;
  opacity: 0.75;
}

li:hover {
  cursor: url('./assets/Cursor/Glow\ 8.cur'), pointer;
}

.completed {
  text-decoration: line-through;
  font-style: italic;
  opacity: .5;
}
