@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

:root {
  --gradient: linear-gradient(159deg, #0f4d4eef 0%, #2a5586 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Kalam', cursive;
  font-size: 15px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--gradient);
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

h1 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2.1rem;
  font-style: italic;
  font-weight: 100;
}

h5 {
  font-family: 'Hind Vadodara', sans-serif;
}

p {
  font-size: 1.1rem;
  opacity: 0.75;
  font-family: 'Hind Vadodara', sans-serif;
}

li {
  font-family: 'Hind Vadodara', sans-serif;
}

li:hover {
  cursor: url('./assets/Cursor/Glow\ 8.cur'), pointer;
}

.completed {
  text-decoration: line-through;
  font-style: italic;
  opacity: .5;
}
